
DATABASE_URL="postgresql://<user>:<password>@<host>:5432/<db_name>?schema=public"
AUTH_SECRET= # Can be generated with openssl rand -hex 32
AUTH_GITHUB_ID= # From Github OAuth
AUTH_GITHUB_SECRET= # From github oauth
NEXTAUTH_URL=http://localhost:3000
DATABASE_DIALECT=postgres
TEST_USER_ID= # Can take it from drizzle .studio
REDIRECT_URI=
